
BST.sln
BST.vcxproj
BST.vcxproj.filters
BST.vcxproj.user
.vs/BST/v14/.suo
BST.VC.db
BST.VC.VC.opendb
.vs/BST/v15/.suo
.vs/BST/v15/Browse.VC.db
.vs/BST/v15/Browse.VC.opendb
.vs/BST/v15/ipch/AutoPCH/33f7620b2a1cf88b/BST.ipch
